<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <style>
  table, td, th
  {
    border: 1px solid black;
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
      padding: 15px;
  }
  </style>
</head>
<body>
  <br>
  <br>
  <div id="wrapper" style = "text-align: center">
  <input type = "file" id = "input-excel"/>
  <br>
</div>
<button id = "editTable" class = "hide">Click here to edit/submit table </button>
<br>
<div class = "container">
<form class= "hide" id = "newForm" style = "margin-top: 3%;">
<table id = "newTable" class="table" >
<tr class = "hide"></tr>
</table>

</form>
</div>
<script>
var $TABLE = $('#newTable');
        $('#input-excel').change(function(e){
                var reader = new FileReader();
                reader.readAsArrayBuffer(e.target.files[0]);
                reader.onload = function(e) {
                        var data = new Uint8Array(reader.result);
                        var wb = XLSX.read(data,{type:'array'});
                        var htmlstr = XLSX.write(wb,{sheet:"Sheet1", type:'binary',bookType:'html'});

                      htmlstr =  htmlstr.replace(/<table>/, '<table id = "oldTable">');
                        console.log(htmlstr);
                        $('#wrapper')[0].innerHTML += htmlstr;
                        $('#editTable').removeClass('hide');
                }
        });
      $('#editTable').click(function()
      {
        var numRows = $('#oldTable tr').length;
        var numCols = document.getElementById('oldTable').rows[0].cells.length;
        console.log(numCols);
        $('#newForm').removeClass('hide');
        var currentLetter = 'A';
        for(var i = 0; i < numRows; i ++)
        {
          console.log("hiya");

          if(i > 0 )
          {
            currentLetter = String.fromCharCode(currentLetter.charCodeAt(0) + 1);
          }
          var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide');
          for(var j = 0; j < numCols; j++)
          {
            console.log($TABLE.find('tr.hide').clone(true).removeClass('hide'));
            $clone.append('<td> <input style = "text-align:center;" value =' + document.getElementById('sjs-' + currentLetter + String(j+1)).innerHTML + '> </td>')
          }
          $('#newTable').append($clone);
        }
        $('#oldTable').remove();
      })

</script>
</body>
</html>
