<!doctype html>
<html>
<head>
  <title>Data Grid </title>
  <style>
  th
  {text-align: center}
  </style>
</head>
<body>
  <form id="form-test" class="table" method="post">
    <table>
      <tr>
        <th></th>
        <th> attribute 1</th>
        <th> attribute 2 </th>
        <th> attribute 3 </th>
        <th> attribute 4 </th>
        <th> attribute 5 </th>
      </tr>
      <tr>
        <th>category 1</th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
      </tr>
      <tr>
        <th>category 2</th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
      </tr>
      <tr>
        <th>category 3</th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
        <th><input type = "text"> </th>
      </tr>
    </table>
  </form>
</body>

</html>
