.header
{
  margin-top: 0.5%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
#topDiv
{
  border: 2px solid black;
}
#formDiv
{
  border: 2px solid black;
}
#form
{
  margin-top: 2%;
}
#oldTable td, th
{
  border: 1px solid black;
  margin-top: 5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#input-excel
{
  margin-top: 2%;
}
